<p class="text-lg px-15">Die Dr. Stephan à Porta Stiftung feierte im Jahr 2021 ihr 75-jähriges Bestehen. Sie öffnet bereits seit 1946 Türen für viele Menschen. Die private Stiftung besitzt 140 Liegenschaften in der Stadt Zürich. Der Stiftungszweck besteht darin, wohltätige und gemeinnützige Institutionen in der Stadt Zürich und im Kanton Graubünden zu unterstützen. Die dafür nötigen Mittel erwirtschaftet sie durch die Vermietung von preiswerten Wohnunge</p>
<div class="flex justify-center mt-50 mb-35">
  <a href="" class="flex items-center text-lg leading-none group">
    {{ partial:icons/chevron-up class="w-16 h-16 block mr-4 group-hover:text-aqua" }}
    <div>Zurück zum Anfang</div>
  </a>
</div>
<footer class="bg-sky bg-[url('../img/texture.svg')] bg-[length:219px_219px] bg-repeat min-h-[219px]">

</footer>
