<p class="text-lg px-15">Die Dr. Stephan à Porta Stiftung feierte im Jahr 2021 ihr 75-jähriges Bestehen. Sie öffnet bereits seit 1946 Türen für viele Menschen. Die private Stiftung besitzt 140 Liegenschaften in der Stadt Zürich. Der Stiftungszweck besteht darin, wohltätige und gemeinnützige Institutionen in der Stadt Zürich und im Kanton Graubünden zu unterstützen. Die dafür nötigen Mittel erwirtschaftet sie durch die Vermietung von preiswerten Wohnunge</p>
{{ partial:components/link-up }}
<footer class="bg-sky bg-[url('../img/texture.svg')] bg-[length:219px_219px] bg-repeat min-h-[219px] flex flex-col items-center pt-60 md:pt-59 pb-25">
  <div>
    {{ partial:icons/logo class="w-134 h-auto" }}
  </div>
  {{ partial:menu/footer/wrapper }}
</footer>
