{{ if type == 'banner' }}

  {{ partial:components/banner }}

{{ /if }}


{{ if type == 'editor' }}

  {{ partial:components/editor }}

{{ /if }}


{{ if type == 'realestate' }}

  {{ partial:layout/section }}
    <a name="map"></a>

    {{ partial:realestate/map class="w-full h-auto max-w-[800px] mx-auto" }}

  {{ /partial:layout/section }}

  {{ partial:layout/section }}

    {{ partial:realestate/items }}

  {{ /partial:layout/section }}

{{ /if }}

{{ if type == 'project_previews' }}

  {{ partial:projects/previews }}

{{ /if }}

{{ if type == 'application_form' }}
  <div id="form-register">asdf</div>
  {{ vite src="resources/js/form/register.js" }}
{{ /if }}
