<div class="mt-16 md:mt-44 sm:grid sm:grid-cols-12 sm:gap-x-60 sm:gap-y-50">
{{ project_list }}
  <article class="mb-48 sm:mb-0 sm:col-span-6">
    <a href="" class="group !no-underline">
      {{ partial:components/media/image class="!mt-0 group-hover:brightness-90 transition-all" }}
      <h2 class="!mt-12 !mb-0">{{ title }}</h2>
      <div class="flex">
        {{ partial:icons/chevron-right class="group-hover:text-aqua transition-all mr-6 mt-6 md:mt-8 w-auto h-14 md:h-18" }}
        mehr
      </div>
    </a>
  </article>
{{ /project_list }}
</div>