<section class="content w-full">
  <div class="max-w-page mx-auto px-15 md:px-45 xl:px-60">
    <div class="relative">
      {{ partial:components/media/image :image="poster" class="!mt-0" isPoster="true" }}
      <a href="javascript:;" 
        class="absolute inset-0 m-auto w-100 h-100 flex text-black hover:bg-aqua hover:text-white transition-all justify-center items-center cursor-pointer bg-white rounded-full"
        data-play-button 
        data-video-url="{{url}}">
        <svg width="30" height="32" viewBox="0 0 30 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-8">
          <path d="M30 16L0 31.5885L0 0.411543L30 16Z" fill="currentColor"/>
        </svg>
      </a>
    </div>
  </div>
</section>
