<section class="min-h-[calc(100vh_-_221px)] relative">
  <picture>
    <img 
      src="/assets/img/teaser.jpg" 
      height="1280" 
      width="1920"
      class="block object-cover absolute h-full w-full top-0 left-0">
  </picture>
  <div class="relative flex items-center justify-center py-32 min-h-[calc(100vh_-_221px)]">
    <div class="rounded-full flex items-center justify-center p-16 bg-white bg-opacity-75 min-h-[350px] min-w-[350px] xs:w-[400px] xs:h-[400px] md:w-[600px] md:h-[600px] text-center">
      <div class="p-32 md:p-48">
        <h1 class="text-xl md:text-2xl mt-12 mb-16 font-neuzeit-bold font-bold leading-[1.5rem] md:leading-[1.16667]">
          «Uns verbindet seit Jahren eine starke Partnerschaft, weil wir uns für die gleichen Werte einsetzen.»
        </h1>
        <p class="mt-24 mb-16 md:mb-32 md:text-lg">
          Patrik Suter,<br>CEO Jugendwohnnetz JUWO
        </p>
        <div class="text-center">
          {{ partial:components/link-more link_text='mehr erfahren' }}
        </div>
      </div>
    </div>
  </div>
</section>

{{# <picture class="w-full">
  <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
  <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
  <img 
    src="{{ glide:image preset='md' }}" 
    alt="{{ title }}" 
    title="{{ title }}" 
    height="{{ height }}" 
    width="{{ width }}"
    class="{{ class }}"
    {{ if lazy }}
    loading="lazy"
    {{ /if }}>
</picture> #}}