{{ scope:project }}
  {{ title as="title" }}
  {{ quote as="quote" }}
  {{ author_name as="author_name" }}
  {{ author_position as="author_position" }}
  {{ image as="image" }}
  {{ url as="url" }}
  {{ video_url as="video_url" }}
  {{ video_poster as="video_poster" }}
{{ /scope:project }}

{{ partial:layout/head }}

{{ partial:layout/body }}

  {{ partial:layout/header }}

  {{ if project:image }}
    {{ partial:components/hero/image 
      :url="project:image:url" 
      :title="project:title" 
      :width="project:image:width" 
      :height="project:image:height" }}
  {{ /if }}

  {{ partial:menu/main/wrapper }}

  <main class="flex-1 xl:-mt-30">

    {{ partial:projects/teaser :project="project" }}

    {{ partial:components/editor }}

    {{ if project:video_url }}
      {{ partial:projects/video :url="project:video_url" :poster="project:video_poster" }}
    {{ /if }}

  </main>
  
  {{ partial:layout/footer }}

{{ /partial:layout/body}}

</html>
