{{ collection from="projects" sort="random" limit="1" quote:exists="true" }}
  {{ scope:project }}
    {{ title as="title" }}
    {{ quote as="quote" }}
    {{ author_name as="author_name" }}
    {{ author_position as="author_position" }}
    {{ image as="image" }}
    {{ url as="url" }}
  {{ /scope:project }}
{{ /collection }}

{{ partial:layout/head }}

{{ partial:layout/body }}

  {{ partial:layout/header }}

  {{ if project:image }}
    {{ partial:components/hero/image 
      :url="project:image:url" 
      :title="project:title" 
      :width="project:image:width" 
      :height="project:image:height" }}
  {{ /if }}

  {{ partial:menu/main/wrapper }}

  <main class="flex-1 xl:-mt-30">

    {{ partial:projects/teaser :project="project" hasMoreLink="true" }}

    {{ page_elements }}

      {{ partial:components/elements }}
      
    {{ /page_elements }}

  </main>
  
  {{ partial:layout/footer }}

{{ /partial:layout/body}}

</html>

